<!-- base.html -->
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Portfolio{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='images/icon.svg') }}" type="image/svg+xml">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://cdn.tailwindcss.com"></script>
    {% block head_extra %}{% endblock %}
</head>

<!-- Body als Flex-Container mit mindestens Bildschirmhöhe -->

<body x-data="{ openTile: null, openGitTile: null, openSkill: null }"
    :class="{ 'overflow-hidden': openTile !== null || openGitTile !== null || openSkill !== null }"
    class="flex flex-col min-h-screen bg-background text-neutral relative"
    style="background: url('{{ url_for('static', filename='images/hero-bg.jpg') }}') no-repeat center center fixed; background-size: cover;">


    <!-- Navigation -->
    {% include "partials/nav.html" %}
    {% include "partials/messages.html" %}
    <!-- Hauptinhalt -->
    <main class="flex-grow {% block main_class %}{% endblock %}">
        {% block content %}{% endblock %}
    </main>

    {% include "partials/back_to_top_button.html" %}
    <!-- Footer -->
    {% include "partials/footer.html" %}

    <!-- Externe Skripte -->
    <script src="{{ url_for('static', filename='js/tailwind-config.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>